.icon-styles {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 60px;
    list-style: none;
    text-align: center;
    width: 55vw;
    justify-content: end;
    margin-right: 7rem;
}
.icon {
    font-size: 27px;
}